In [3]:
import numpy as np
import pandas as pd

In [4]:
#--load unpolarized dipole amplitude

unpolar_input_file = '../dsa_mc/dipoles/n_ymin4.61_ymax14.91_AAMS09.dat'
# unpolar_input_file = '../dsa_mc/dipoles/n_ymin4.61_ymax9.81_CKM24.dat'
# unpolar_input_file = '../dsa_mc/dipoles/n_ymin4.61_ymax9.81_Qs2_0.3.dat'
#
ndipole = pd.read_csv(unpolar_input_file, sep=r'\s+', header=None, names=['y', 'ln(r)', 'N'])

In [7]:
ndipole

             y  ln(r)             N
0         4.61 -13.81  1.267710e-14
1         4.61 -13.80  1.296690e-14
2         4.61 -13.79  1.326020e-14
3         4.61 -13.78  1.355730e-14
4         4.61 -13.77  1.385870e-14
...        ...    ...           ...
1896225  14.90   4.55  1.000000e+00
1896226  14.90   4.56  1.000000e+00
1896227  14.90   4.57  1.000000e+00
1896228  14.90   4.58  1.000000e+00
1896229  14.90   4.59  1.000000e+00

[1896230 rows x 3 columns]

In [9]:
ndipole['y'] = ndipole['y'].round(2)
ndipole['ln(r)'] = ndipole['ln(r)'].round(2)

pivoted = ndipole.pivot(index='y', columns='ln(r)', values='N')
n_arr = pivoted.to_numpy()

# np.savetxt('../dsa_mc/dipoles/narr_ymin4.61_ymax9.81_CKM24.dat', n_arr)
# np.savetxt('../dsa_mc/dipoles/narr_ymin4.61_ymax9.81_Qs2_0.3.dat', n_arr)
np.savetxt('../dsa_mc/dipoles/narr_ymin4.61_ymax14.91_AAMS09.dat', n_arr)