In [7]:
import numpy as np
import pandas as pd

In [9]:
#--load unpolarized dipole amplitude

# unpolar_input_file = '../dsa_mc/dipoles/n_ymin4.61_ymax9.81_AAMS09.dat'
unpolar_input_file = '../dsa_mc/dipoles/n_ymin4.61_ymax9.81_CKM24.dat'
# unpolar_input_file = '../dsa_mc/dipoles/n_ymin4.61_ymax9.81_Qs2_0.3.dat'

ndipole = pd.read_csv(unpolar_input_file, sep=r'\s+', header=None, names=['y', 'ln(r)', 'N'])

In [11]:
ndipole

           y  ln(r)             N
0       4.61 -13.81  2.200110e-13
1       4.61 -13.80  2.244640e-13
2       4.61 -13.79  2.289680e-13
3       4.61 -13.78  2.335280e-13
4       4.61 -13.77  2.381480e-13
...      ...    ...           ...
957315  9.80   4.55  1.000000e+00
957316  9.80   4.56  1.000000e+00
957317  9.80   4.57  1.000000e+00
957318  9.80   4.58  1.000000e+00
957319  9.80   4.59  1.000000e+00

[957320 rows x 3 columns]

In [13]:
ndipole['y'] = ndipole['y'].round(2)
ndipole['ln(r)'] = ndipole['ln(r)'].round(2)

pivoted = ndipole.pivot(index='y', columns='ln(r)', values='N')
n_arr = pivoted.to_numpy()

np.savetxt('../dsa_mc/dipoles/narr_ymin4.61_ymax9.81_CKM24.dat', n_arr)